# Homework 1
Submit your results here: https://courses.datatalks.club/ml-zoomcamp-2025/homework/hw01

In [4]:
import pandas as pd

## Q1
Q1. Pandas version
What's the version of Pandas that you installed?

You can get the version information using the __version__ field:

In [5]:
pd.__version__

'2.3.1'

### Q2. Records count

How many records are in the dataset?

- 4704
- 8704
- 9704 <------ Right answer
- 17704

In [8]:
df = pd.read_csv('car_fuel_efficiency.csv')
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [17]:
len(df)

9704

In [18]:
df.shape[0]      # rows
df.shape         # (rows, cols)

# with a condition
#(df['status'] == 'active').sum()
#df.query("status == 'active'").shape[0]

(9704, 11)

### Q3. Fuel types

How many fuel types are presented in the dataset?

- 1
- 2 <----- Right Answer
- 3
- 4

In [16]:
len(df.groupby('fuel_type'))

2

In [8]:
df.nunique().fuel_type

np.int64(2)

### Q4. Missing values

How many columns in the dataset have missing values?

- 0
- 1
- 2
- 3
- 4 <------- Right answer

In [26]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [ ]:
cols_with_nulls = df.columns[df.isnull().any()]
len(cols_with_nulls)

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed

    A     B
 0  1   NaN
 1 NaN    3
 2  4     5

df.isna()
       A      B
 0  False   True
 1   True  False
 2  False  False

df.isna().sum()
 A    1
 B    1
 dtype: int64

df.isna().sum().sum()
 2
cols_with_nulls = df.columns[df.isnull().any()]
df.isnull() → DataFrame of booleans (same shape as df), True where value is null.

.any() on a DataFrame defaults to axis=0 (down the rows), so you get a boolean Series indexed by column names: True for columns that have at least one null.

Equivalent and explicit: df.isnull().any(axis=0)

df.columns[...] accepts a boolean mask aligned to the columns. Passing that Series filters the Index to only the names where the mask is True.

So the mask’s index (column names) lines up with df.columns, and you get just those column names.

Tiny demo:

    A    B    C
 0  1  NaN  7.0
 1  2  3.0  NaN

mask = df.isnull().any()     - A False, B True, C True
cols_with_nulls = df.columns[mask]  - Index(['B', 'C'], dtype='object')

### Q5. Max fuel efficiency

What's the maximum fuel efficiency of cars from Asia?

- 13.75
- 23.75 <----- Right Answer
- 33.75
- 43.75

In [48]:
df[
    df['origin']  == 'Asia'
    ].fuel_efficiency_mpg.max()

np.float64(23.759122836520497)

### Q6. Median value of horsepower



1. Find the median value of `horsepower` column in the dataset.
2. Next, calculate the most frequent value of the same `horsepower` column.
3. Use `fillna` method to fill the missing values in `horsepower` column with the most frequent value from the previous step.
4. Now, calculate the median value of `horsepower` once again.

Has it changed?


- Yes, it increased
- Yes, it decreased
- No <--- Right Answer

In [41]:
print(df.horsepower.median())
top_value = df['horsepower'].value_counts().idxmax()   # most frequent (ignores NaN)
#top_count = df['col'].value_counts().max()      # its frequency
df.horsepower.fillna(top_value)
print(df.horsepower.median())

149.0
149.0

### Q7. Sum of weights

1. Select all the cars from Asia
2. Select only columns `vehicle_weight` and `model_year`
3. Select the first 7 values
4. Get the underlying NumPy array. Let's call it `X`.
5. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
6. Invert `XTX`.
7. Create an array `y` with values `[1100, 1300, 800, 900, 1000, 1100, 1200]`.
8. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
9. What's the sum of all the elements of the result?

> **Note**: You just implemented linear regression. We'll talk about it in the next lesson.

- 0.051
- 0.51 <----- right answer!!!
- 5.1
- 51

In [56]:
import numpy as np
#asia_df = df[
#    (df.origin == 'Asia')
#]
asia_df = df[
    df['origin']  == 'Asia'
]
asia_df.head()
weight_year = asia_df[['vehicle_weight','model_year']].head(7)
#weight_year.vehicle_weight = weight_year.vehicle_weight.round(2)

print(weight_year)
X = weight_year.to_numpy()
#print(X)
XTX = X.T.dot(X) # XTX = X.T @ X          # modern operator syntax
XTX_inv = np.linalg.inv(XTX)
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
# Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`
#w = XTX_inv.dot(X.T).dot(y)
w = XTX_inv @ X.T @ y
print(w)
sum(w)

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019
[0.01386421 0.5049067 ]

np.float64(0.5187709081074016)

## Submit the results

* Submit your results here: https://courses.datatalks.club/ml-zoomcamp-2025/homework/hw01
* If your answer doesn't match options exactly, select the closest one